@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #F2E6D8, #BF9B7A);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a86d4a;
    width: 600px;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    color: #555934; 
    text-align: center;
    text-shadow: 1px 1px 2px #a86d4a;
}

h2 {
    color: #593E2E;
    text-align: left;
    text-shadow: 1px 1px 2px #a86d4a;
}

p {
    text-align: justify;
}
