@charset "UTF-8";
/*Folha de estilo - fundo004.html*/

body {
    height: 98vh;
    border: 1px dashed black;
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: left bottom;
}