@charset "UTF-8";
/*
    Folha de estilo index.html
*/


* { /* Configurações Gerais */
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh; /* Tamanho mínimo altura da View Port */
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /* text-transform: uppercase; - todas as letras ficam maiúsculas e iguais */
    font-variant: small-caps; /* Todas as letas ficam maiúsculas, mas somente as iniciais ficam maiores */
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover { /* Passando o mause emcima fica sublinhado */
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /* espaço entre as linhas */
    padding-left: 30px; /* Jogar o conteúdo para dentro */
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.253);
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}