@charset "UTF-8";
/*
    Folha de estilo index.html
*/

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');

:root { /* Configurar Variáveis */
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', sans-serif;
    --fonte3: 'Sriracha', cursive;
    --fonte4: 'Passions Conflict', cursive;
}
* { /* Configurações Gerais */
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh; /* Tamanho mínimo altura da View Port */
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /* text-transform: uppercase; - todas as letras ficam maiúsculas e iguais */
    font-variant: small-caps; /* Todas as letas ficam maiúsculas, mas somente as iniciais ficam maiores */
    font-family: var(--fonte2);
    font-size: 10vw; /* 10% da largura da tela */
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover { /* Passando o mause emcima fica sublinhado */
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /* espaço entre as linhas */
    padding-left: 30px; /* Jogar o conteúdo para dentro */
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em; /* espaço entre os parágrafos */
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block; /* transforma a caixa para se adaptar ao tamanho do conteúdo */
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: ;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}